@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gray-text {
  color: #9f9f9f;
}

/* LOADING */
@import url("./loading.css");

/* HOME */
@import url("./home.css");

/* MESSAGE */
@import url("./message.css");

/* MODAL */
@import url("./modal.css");

/* SKELETON LOADING */
@import url("./skeleton.css");
